.container{
    padding-left: 11em;
    padding-right: 11em;
}

.headerTitle{
    margin-bottom: 0;
    margin-top: 1.5em;
}

.headerContent{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.headerParagraph{
    width: 30%;
}

.filters{
    display: flex;
    align-items: flex-end;
    column-gap: 1em;
}

.filterBtn{
    border: none;
    background-color: var(--background);
    font-size: 1em;
}

.select{
    padding: 0.3em 0.6em;
    border-radius: 1em;
}

.search{
    margin-top: 2.2em;
    width: 20vw;
}

.inputGroup{
    position: relative;
    width: 100%;
}

.heroSearch{
    width: calc(100% - 2em);
    border-radius: 15px;
    padding: 0.5em 1em;
    border: 1px solid var(--secondary-accent);
}

.heroBtn{
    position: absolute;
    top: 50%;
    right: 0.5em;
    transform: translateY(-50%);
    font-size: 1em;
    color: var(--text);
    background-color: transparent;
    border: none;
}

.authors{
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    row-gap: 1em;
    flex-wrap: wrap;
    height: 100vh;
    margin-top: 1em;
}
