.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-accent);
    height:90vh;
    position: relative;
}

.heroTitle{
    margin-top: 5em;
    color: white;
    font-size: 2.5em;
}

.inputGroup{
    position: relative;
    width: 50%;
}

.heroSearch{
    width: calc(100% - 4em);
    border-radius: 15px;
    padding: 1.5em 2em;
    border: 1px solid var(--secondary-accent);
}

.heroBtn{
    position: absolute;
    top: 50%;
    right: 1em;
    transform: translateY(-50%);
    font-size: 1.25rem;
    color: var(--text);
    background-color: transparent;
    border: none;
}

.homeBackgroundImg{
    position: absolute;
    width: 100%;
    height: 35vh;
    bottom: 0;
}

.intro{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 4em;
    padding: 4em 10em;
}

.introImgContainer{
    width: 40%;
}

.introImg{
    width: 100%;
}

.introTextContainer{
    width: 35%;
    padding: 0 2em;
}

.introBtn{
    background-color: var(--primary-accent);
    border: none;
    padding: 0.6em 1.2em;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
    transition: all 0.2s linear 0s;
    position: relative;
}

.numbers{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-accent);
    height: 15vh;
}

.numbersContainer{
    display: flex;
    column-gap: 8em;
}

.numberCard{
    display: flex;
    align-items: center;
    column-gap: 1em;
}

.numberIcon{
    font-size: 3em;
}

.quoteOfTheDay{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15em;
    background-color: var(--secondary-accent);
    width: 100%;
    height: 30vh;
}

.quoteText{
    font-style: italic;
    font-weight: bold;
    font-family: "Inria Serif", serif;
}

.authorImgContainer{
    display: flex;
    position: relative;
    width: 25vh;
}

.authorImg{
    width: 100%;
    border: 1px solid var(--primary-accent);
    border-radius: 50%;
    object-fit: cover;
}

.authorIconComment, .authorIconCloud{
    position: absolute;
    color: var(--primary-accent);
    border: none;
    font-size: 4em;
}

.authorIconComment{
    bottom: 0;
    right: 0; 
}
