.card{
    width: calc(20% - 1em);
    height: fit-content;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.container{
    display: flex;
    padding: 1em;
    border-radius: 15px;
    flex-direction: column;
    background-color: var(--background);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.authorImg{
    width: 100%;
    height: 15vw;
    border-radius: 15px;
    object-fit: cover;
}

.authorName{
    font-size: 1.2em;
    margin: 0.5em 0;
}

.badgeContainer{
    display: flex;
    justify-content: space-between;
}

.authorQuotes, .authorLikes{
    font-size: 0.8em;
    color: var(--text);
}