.logo {
    padding: 1em;
    font-size: large;
  }
  
  .background img {
    object-fit: cover;
  }
  
  .container {
    padding: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 12em;
    margin-top: 3em;
  }
  
  .title{
    margin-bottom: 0;
  }
  
  .ForgotPasswordForm {
    display: flex;
    flex-direction: column;
    row-gap: 0.6em;
    width: 25%;
  
    hr {
      width: 100%;
    }
  }
  
  .form {
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
  }
  
  .email:focus {
    background-color: rgb(225, 225, 225);
    outline-color: var(--secondary-accent);
  }

  .email:hover,.goBack:hover {
    background-color: rgb(225, 225, 225);
  }
  
  .form button {
    background-color: var(--secondary-accent);
    color: white;
    font-weight: bold;
  }
  
  .form button:hover {
    background-color: var(--button-hover);
  }
  
  .form input,
  .form button,
  .goBack{
    padding: 0.7em;
    border: none;
    border-radius: 5px;
  }

  .goBack {
    width: 100%;
    font-weight: bold;
  }
  
  button {
    cursor: pointer;
  }
  
  p {
    font-size: 0.8em;
  }
  