.logo {
  padding: 1em;
  font-size: large;
}

.background img {
  object-fit: cover;
}

.container {
  padding: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 12em;
  margin-top: 3em;
}

.signUpForm {
  display: flex;
  flex-direction: column;
  width: 25%;

  hr {
    width: 100%;
  }
}

.socialButtons {
  display: flex;
  justify-content: space-between;
  column-gap: 1em;
}

.socialButtons button {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  column-gap: 0.5em;
  background-color: white;
  font-weight: bold;
}

.socialButtons button:hover {
  background-color: rgb(225, 225, 225);
}

.socialButtons button img {
  width: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}

.form button {
  background-color: var(--secondary-accent);
  color: white;
  font-weight: bold;
}

.form button:hover {
  background-color: var(--button-hover);
}

.form input,
.form button,
.socialButtons button {
  padding: 0.6em;
  border: none;
  border-radius: 5px;
}

#passwordCheck{
    color: rgb(128, 127, 127);
    display: inline;
}

.block {
  display: block;
}

span {
  color: var(--secondary-accent);
}

button {
  cursor: pointer;
}

p {
  font-size: 0.8em;
}
